body
{
background-image: url("tokyoghoul.png");
background-size: cover; /*pour avoir une image qui prend tous l'écran*/
font-family: verdana, calibri, sans-serif;
margin: 0px;
padding: 0px;

}
.pp
{
    color: white;
    text-align: center;

}
.x
{
    float: left;
    margin-right: 10px;
    padding-top: 20px;
   
}
.w
{
    padding-top: 20px;
}
.d
{
    color: white;
    text-align: center;
   padding-top: 60px;
}

/* on urilise ">" pour ne cibler que la liste ul qui est juste après le nav*/
nav > ul{
    margin: 0px;
    padding: 0px;
}

nav li{
    list-style-type: none;
}
nav > ul > li{
    float: left;
}

.submenu{
    display: none;
}

/*on rend notre case à cocher invisible*/
nav input[type=checkbox] {
    display: none;
}

/* on cache le bouton affichant le menu mobile */
.menu-mobile{
    display: none;

}

nav{
    width: 100%;
    background-color: darkgrey;
}

/* on affiche seulement les éléments li correspondant à nos onglets de menu en ligne ( côte à côte)*/
nav > ul > li {
    float: left;
    position: relative;
}

/* un "hack" CSS (clearfix) très connu*/
nav > ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: inline-block;
    text-decoration: none;
}

nav > ul > li > a{
    padding: 20px 30px ;
    color: rgb(0, 0, 0);
}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
}

.submenu li{
    border-bottom: 1px solid black;
}

.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: rgb(61, 57, 57);
    width: 270px;
}

.menu-html:hover{
    border-top: 5px solid rgb(43, 40, 40);
    background-color: rgb(170, 10, 10);

}
.menu-css:hover{
    border-top: 5px solid rgb(43, 40, 40);
    background-color: rgb(170, 10, 10);

}
.menu-javascript:hover{
    border-top: 5px solid rgb(43, 40, 40);
    background-color: rgb(170, 10, 10);

}
.menu-sql:hover{
    border-top: 5px solid rgb(43, 40, 40);
    background-color: rgb(170, 10, 10);

}
.menu-missions:hover{
    border-top: 5px solid rgb(43, 40, 40);
    background-color: rgb(170, 10, 10);

}
.menu-conception:hover{
    border-top: 5px solid rgb(43, 40, 40);
    background-color: rgb(170, 10, 10);

}
.menu-php:hover{
    border-top: 5px solid rgb(43, 40, 40);
    background-color: rgb(170, 10, 10);

}
.menu-att:hover{
    border-top: 5px solid rgb(43, 40, 40);
    background-color: rgb(170, 10, 10);

}

nav > ul > li:hover a {
    padding: 15px 30px 20px 30px;
}

.menu-html .submenu{
background-color: rgb(232, 223, 223);
}
.menu-css .submenu{
    background-color:rgb(232, 223, 223);
}
.menu-javascript .submenu{
    background-color: rgb(232, 223, 223);
}
.menu-sql .submenu{
    background-color:rgb(232, 223, 223);
}
.menu-missions .submenu{
    background-color:rgb(232, 223, 223);
}
.menu-conception .submenu{
    background-color:rgb(232, 223, 223);
}
.menu-php .submenu{
    background-color:rgb(232, 223, 223);
}
.menu-att .submenu{
    background-color:rgb(232, 223, 223);
}

.submenu li:hover a{
    color:red;
    font-weight: bold;
}

.menu-html .submenu li:hover{
    background-color: rgb(41, 41, 45);

}
.menu-css .submenu li:hover{
        background-color: rgb(41, 41, 45);
    
}
.menu-javascript .submenu li:hover{
        background-color:  rgb(41, 41, 45);
    
}
.menu-sql .submenu li:hover{
        background-color: rgb(41, 41, 45);
    
    
}
.menu-missions .submenu li:hover{
        background-color: rgb(41, 41, 45);
   
}

.menu-conception .submenu li:hover{
    background-color: rgb(41, 41, 45);

}

.menu-php .submenu li:hover{
    background-color: rgb(41, 41, 45);

}
.menu-att .submenu li:hover{
    background-color: rgb(41, 41, 45);

}
.menu-contact:hover{
    border-top: 5px solid rgb(43, 40, 40);
    background-color: rgb(170, 10, 10);
}

 /* lorsque la case est cochée (dès q'un utilisateur appuie sur notre bouton),
 le menu entier s'affiche*/
 nav input[type=checkbox] : :checked ~ ul{
    display: block;
 }
/* on modifie le style de notre menu pour son affichage responsive*/
@media screen and (max-width : 680px) {
    .menu-mobile {
        display: block;
        color: red;
        background-color: rgb(232, 223, 223);
        text-align: center;
        padding: 12px 0;
    }
    nav ul{
        display: none;
    }
    
}